[Unit]
Description=Run HIDS Agent every minute

[Timer]
# Starts 1 minute after boot
OnBootSec=1min
# Runs every 5 seconds (Live Demo Mode)
OnUnitActiveSec=5s
# Links back to the service
Unit=hids-agent.service

[Install]
WantedBy=timers.target
